<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yyc.dao.UserMapper">
    <resultMap id="userMap" type="com.yyc.entity.User">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="password" column="password"/>
        <result property="authority" column="authority"/>
    </resultMap>


    <insert id="insertUser" parameterType="com.yyc.entity.User">
        INSERT INTO user(id, `name`, password, authority) VALUES (#{id}, #{name}, #{password}, #{authority})
    </insert>

    <delete id="deleteUser">
        DELETE FROM user WHERE id = #{id}
    </delete>

    <update id="updateUserInfo" parameterType="com.yyc.entity.User">
        UPDATE user SET `name` = #{name}, password = #{password}, authority = #{authority} WHERE id = #{id}
    </update>

    <select id="getUser" resultMap="userMap">
        SELECT * FROM user WHERE id = #{id}
    </select>
</mapper>